body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
}

.btn {
 /* your code starts here */
  display: inline-block;
  padding: 15px 30px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;


  &__primary {
    background: #19647e;
    &:hover {
      background: #0d3c4b;
    }
  }
  &__secondary {
    background: #4b3f72;
    &:hover {
      background: #1f2041;
    }
  }
  &__accent {
    background: #FFC857;
    &:hover {
      background: #775c27;
    }
  }

  .cta & {
    background: rgba(#333, .5);
    &:hover {
      background: #333;
    }
  }


 /* your code ends here */
}

.cta {
  background: #FFC857;
  color: #1f2041;
  padding: 100px 0;
  margin-top: 100px;
}

.solution {
  height: 1000px;
  max-width: 1000px;
  margin: 10px auto;
  background: url(/final-layout.PNG) no-repeat center center/cover;
}

.colors{
    height: 1000px;
    width: 1000px;
    margin: 10px auto;
    background: url(/final-css.png) no-repeat center;
}