// best practice: start styling fonts.
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:300,400,900');

body {
  font-family: $ff-sans;
  font-size: 1rem;
  line-height: 1.6;
  color: grey(2);
  font-weight: $fw-light;
  text-align: center;
  @include mq(small) {
    font-size: 1.125;
  }
}

h1,
h2,
h3,
p,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: $ff-serif;
}

h3 {
  color: grey(5);
  text-transform: uppercase;
  line-height: 1.3125rem;
  margin-top: 2em;
  margin-bottom: .5em;
}

p {
  margin-bottom: .8em;
}
.home__title {
  color: grey(1);
  font-size: 3rem;
  line-height: 1.2;
  @include mq(small) {
    font-size: 5rem;
  }
}

.section {
  &__title {
    color: $primary;
    font-size: 3rem;
    line-height: 1;
    @include mq(small) {
      font-size: 3.75rem;
    }
    &--white {
      color: grey(1);
    }
  }
  &__subtitle {
    color: grey(3);
    font-size: 1.68rem;
    font-weight: $fw-normal;
    margin-top: .5em;
    @include underline();
  }
}